//Fonts
$ZTFormom: "ZTFormom", sans-serif;
$Swiss721BT-RomanExtended: "Swiss721BT-RomanExtended", sans-serif;
$SwissSiena: "Swiss Siena", sans-serif;
$Parisienne: "Parisienne", sans-serif;
$basis33: "basis33", sans-serif;
$Condensed: "3270Condensed", sans-serif;

//Colors
$white: #ffffff;
