//Fonts
$ZTFormom: "ZTFormom", sans-serif;
$Swiss721BT-RomanExtended: "Swiss721BT-RomanExtended", sans-serif;
$SwissSiena: "Swiss Siena", sans-serif;
$Parisienne: "Parisienne", sans-serif;
$basis33: "basis33", sans-serif;
$Condensed: "3270Condensed", sans-serif;

//Colors
$white: #ffffff;
$blue: #0000b1;
$blue-2: #000C78;
$bg-color-catalog: #E0DFDD;
$grey: #D9D9D9;
$light-grey: #E8E8E8;
$dark-grey: #404040;
$dark-grey-2: #808080;
$black: #000000;
$dark-grey-3: #9D9D9D;

//Breakpoints
$small-mobile: 320px;
$mobile: 576px;
$tablet: 768px;
$small-desktop: 992px;
$desktop: 1200px;

//Shadows
$shadow-1:
  0 4px 4px
    rgba(
      $color: #000,
      $alpha: 0.25
    ),
  0 2px 4px
    rgba(
      $color: #000,
      $alpha: 0.25
    ),
  0 -2px 4px rgba(
      $color: #000,
      $alpha: 0.3
    ),
  0 0px 3.2px
    rgba(
      $color: #000,
      $alpha: 0.25
    );

$shadow-2:
  0 4px 4px #000,
  0 2px 0 #000,
  2px 0 0 #000;

$shadow-2-tablet:
  0 1.52px 1.52px #000,
  0 0.76px 0 #000,
  0.76px 0 0 #000;

$shadow-header:
  0 2px 4px #000,
  0 2px 0 #000,
  2px 0 0 #000;

$shadow-header-tablet:
  0 0.77px 1.54px #000,
  0 0.77px 0 #000,
  0.77px 0 0 #000;

$shadow-header-mobile:
  0 0.59px 1.19px #000,
  0 0.59px 0 #000,
  0.59px 0 0 #000;

$shadow-header-top:
  0 2px 4px #000,
  0 1.5px 0 #000,
  1.5px 0 0 #000;

$shadow-header-top-tablet:
  0 0.77px 1.54px #000,
  0 0.58px 0 #000,
  0.58px 0 0 #000;

$shadow-header-top-mobile:
  0 0.59px 1.19px #000,
  0 0.44px 0 #000,
  0.44px 0 0 #000;
