@use "../base/variables" as *;

.catalogBar {
  padding: 7px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  position: relative;

  @media (max-width: $tablet) {
    padding: 5px;
    gap: 15px;
  }

  @media (max-width: $mobile) {
    padding: 3px;
    gap: 10px;
  }
}

.catalogBarMenuWrapper {
  width: 100%;
  display: none;

  @media (max-width: 420px) {
    display: flex;
    justify-content: center;
  }
}

.catalogBarMenu {
  @media (max-width: 420px) {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    max-width: 75px;

    .catalogBarMenuItem {
      border-top: 2px solid $dark-grey;
      border-left: 2px solid $dark-grey;
      border-right: 2px solid $dark-grey-3;
      border-bottom: 2px solid $dark-grey-3;

      & > div {
        background-color: $white;
        height: 4px;

        border-top: 2px solid $grey;
        border-left: 2px solid $grey;
      }
    }
  }
}

.catalogList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

  @media (max-width: $tablet) {
    gap: 20px;
  }

  @media (max-width: $mobile) {
    gap: 10px;
  }

  @media (max-width: 420px) {
    display: none;
  }
}

.catalogItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  @media (max-width: $tablet) {
    gap: 2px;
  }

  @media (max-width: $mobile) {
    gap: 0;
  }
}

.catalogItemWrapper {
  width: 55px;
  height: 55px;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: 2px solid $black;
    outline-offset: 2px;

    border-right: 2px solid $dark-grey;
    border-bottom: 2px solid $dark-grey;

    background-color: $light-grey;
    transition: all 0.2s ease-in-out;

    & > div {
      border: 2px solid $dark-grey-2;
    }
  }

  &:hover {
    border-right: 2px solid $dark-grey;
    border-bottom: 2px solid $dark-grey;

    & > div {
      border-top: 2px solid $white;
      border-left: 2px solid $white;
      border-right: 2px solid $dark-grey-2;
      border-bottom: 2px solid $dark-grey-2;
    }
  }

  &:active {
    border-left: 2px solid $dark-grey;
    border-top: 2px solid $dark-grey;
    border-bottom: none;
    border-right: none;

    & > div {
      border-top: 2px solid $dark-grey-2;
      border-left: 2px solid $dark-grey-2;
      border-right: 2px solid $white;
      border-bottom: 2px solid $white;
    }
  }

  @media (max-width: $tablet) {
    width: 50px;
    height: 50px;
  }

  @media (max-width: $mobile) {
    width: 40px;
    height: 40px;

    &:focus {
      outline: 1px solid $black;
      outline-offset: 1px;

      border-right: 1px solid $dark-grey;
      border-bottom: 1px solid $dark-grey;

      & > div {
        border: 1px solid $dark-grey-2;
      }
    }

    &:hover {
      border-right: 1px solid $dark-grey;
      border-bottom: 1px solid $dark-grey;

      & > div {
        border-top: 1px solid $white;
        border-left: 1px solid $white;
        border-right: 1px solid $dark-grey-2;
        border-bottom: 1px solid $dark-grey-2;
      }
    }

    &:active {
      border-left: 1px solid $dark-grey;
      border-top: 1px solid $dark-grey;

      & > div {
        border-top: 1px solid $dark-grey-2;
        border-left: 1px solid $dark-grey-2;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
      }
    }
  }
}

.catalogItemWrapper > div {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.catalogItemImage {
  width: 45px;
  height: 45px;
  object-fit: contain;

  @media (max-width: $tablet) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $mobile) {
    width: 30px;
    height: 30px;
  }
}

.catalogItemText {
  font-family: $SwissSiena;
  font-size: 18px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

  @media (max-width: $mobile) {
    font-size: 16px;
  }
}

.catalogCartText {
  font-family: $SwissSiena;
  font-size: 12px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: 700;

  @media (max-width: $mobile) {
    font-size: 11px;
  }
}

.catalogBarMobile {
  display: none;

  @media (max-width: 420px) {
    display: block;
    position: absolute;
    bottom: -68px;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;

    border-top: 1px solid $dark-grey-4;
    border-left: 1px solid $dark-grey-4;
    border-right: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;

    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;

    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;

    &.catalogBarActive {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

.catalogListMobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px;
  gap: 15px;
  background-color: $dark-grey-4;

  border-top: 1px solid $white;
  border-left: 1px solid $white;
  border-right: 1px solid $dark-grey-2;
  border-bottom: 1px solid $dark-grey-2;

  .catalogItem {
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i * 0.1}s;
      }
    }
  }

  .catalogBarActive & .catalogItem {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: $small-mobile) {
    gap: 5px;
  }
}
