@use "../base/variables" as *;
@use "../base/mixins" as *;

.productItem {
  background: linear-gradient(180deg, $blue-2 22%, $black 89%);
  color: $white;
  font-size: 22px;
  font-family: $SwissSiena;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  text-shadow:
    0 1.86px 1.86px $black,
    0 0.93px 0 $black,
    0.93px 0 0 $black;
}

.productItemWrapper {
  position: relative;
  margin: 0 auto;
  padding: 20px 40px 60px;

  flex-grow: 1;
}

.productItemTitle {
  font-size: 58px;

  text-shadow:
    0 0 5px $black,
    0 2px 2px $black,
    0 1px 0 $black,
    1px 0 0 $black;
}

.productItemContent {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productItemContentUpper {
  display: flex;
  gap: 15px;
}

.carouselMain {
  position: relative;
  display: inline-block;

  max-width: 450px;
}

.carouselButton {
  position: absolute;
  bottom: 5px;
  left: 10px;

  &:last-child {
    left: auto;
    right: 10px;
  }

  & > img {
    width: 24px;
    height: auto;
  }
}

.productItemImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.productItemDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vertical {
  max-width: 600px;
}

.horizontal {
  max-width: 800px;
}

.productItemContentLower {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
}

.carouselThumbnails {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 450px;
}

.thumbnailImage {
  height: auto;
}

.productItemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  font-size: 20px;

  text-align: center;
}

.productItemBtnCart {
  @include border--white--dark-grey;
  background-color: $dark-grey-3;
  border-width: 3px;
  color: $black;
  font-size: 28px;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $light-grey;
  }

  &:active {
    background-color: $dark-grey-3;
    @include border--dark-grey--white;

    div {
      border-bottom: none;
      border-right: none;
      border-top: 3px solid $dark-grey-2;
      border-left: 3px solid $dark-grey-2;

      padding: 5px 33px 8px 30px;
    }
  }

  div {
    border-bottom: 3px solid $dark-grey-2;
    border-right: 3px solid $dark-grey-2;

    padding: 8px 30px 5px 33px;
  }
}

.productItemSize > p,
.productItemLength > p,
.productItemColor > p {
  text-shadow:
    0 2.51px 2.51px $black,
    0 1.26px 0 $black,
    1.26px 0 0 $black;
}

.productItemSizeOptions,
.productItemLengthOptions {
  display: flex;
  justify-content: center;
  gap: 20px;

  font-size: 30px;

  & > button {
    transition: all 0.3s ease-in-out;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: $white;
      transition: all 0.2s ease-in-out;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.productItemColorOptions {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;

  &.hovered {
    & > button.active::after {
      width: 0;
    }
  }

  & > button {
    transition: all 0.3s ease-in-out;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: $white;
      transition: all 0.2s ease-in-out;
    }

    &.active {
      &::after {
        width: 100%;
      }
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.productItemBgWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.productItemBgImage {
  width: auto;
  height: 400px;

  &.bgVertical {
    height: 800px;
  }

  &.bgHorizontal {
    height: 400px;
  }
}

.productItemBgText {
  position: absolute;
  font-size: 25px;
  right: 12%;
  bottom: 50%;
  max-width: 80px;

  text-shadow: $shadow-2;
}
