@use '../base/variables' as *;

.catalog {
  font-family: $basis33;
  background-color: $bg-color-catalog;

  height: calc(100vh - 50px);
}

.catalogWrapper {
  position: relative;
  height: 100%;

  padding: 12px 12px 0 12px;
}