@import 'tailwindcss';
@import '../assets/styles/fonts.css';

:root {
  background-color: #E0DFDD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
}

.bg-gradient-gray {
  background: linear-gradient(180deg, #FFF 32%, #B9B9B9 83%);
}

@media (max-width: 768px) {
  .bg-gradient-gray {
    background: linear-gradient(180deg, #FFF 50%, #999 100%);
  }
}

@media (max-width: 360px) {
  .bg-gradient-gray {
    background: linear-gradient(180deg, #FFF 16%, #B9B9B9 44%);
  }
}

.font-ztformom {
  font-family: 'ZTFormom', sans-serif;
}